Repository hmcts/my-time-api, pull requests merged in 2023-02, with the labels that each got.

#62 Users
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/renovate.json
  Jenkinsfile_CNP
  README.md
  build.gradle
  config/checkstyle/checkstyle.xml
  infrastructure/README.md
  lombok.config
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/dts/mytime/controllers/RootController.java
  src/main/java/uk/gov/hmcts/dts/mytime/controllers/UserController.java
  src/main/java/uk/gov/hmcts/dts/mytime/entities/UserEntity.java
  src/main/java/uk/gov/hmcts/dts/mytime/models/UserModel.java
  src/main/java/uk/gov/hmcts/dts/mytime/repository/UserRepo.java
  src/main/java/uk/gov/hmcts/dts/mytime/services/UserService.java
  src/main/resources/db/migration/V001__Init.sql
  src/main/resources/db/migration/V003__UserTableAndData.sql
  src/main/resources/db/migration/V004__InsertNewUser.sql
  src/main/resources/db/migration/V005__AlterToDefaultToZero.sql
  src/test/java/uk/gov/hmcts/dts/mytime/controllers/UserControllerTests.java
  src/test/java/uk/gov/hmcts/dts/mytime/entities/UserTest.java
  src/test/java/uk/gov/hmcts/dts/mytime/models/UserTest.java
  src/test/java/uk/gov/hmcts/dts/mytime/services/UserServiceTest.java
Labels: add-or-update, ns:my-time, prd:my-time, rel:my-time-api-pr-62

#84 Revert V001 to Fix DB
  src/main/resources/db/migration/V001__Init.sql
Labels: ns:my-time, prd:my-time, rel:my-time-api-pr-84

#82 MYT-18 Add teams
  bin/main/db/migration/V006__Init_team_names_table.sql
  build.gradle
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/dts/mytime/controllers/TeamNamesController.java
  src/main/java/uk/gov/hmcts/dts/mytime/controllers/TeamUsersController.java
  src/main/java/uk/gov/hmcts/dts/mytime/entities/TeamNames.java
  src/main/java/uk/gov/hmcts/dts/mytime/entities/TeamUsers.java
  src/main/java/uk/gov/hmcts/dts/mytime/models/TeamNames.java
  src/main/java/uk/gov/hmcts/dts/mytime/models/TeamUsers.java
  src/main/java/uk/gov/hmcts/dts/mytime/repository/TeamNamesRepository.java
  src/main/java/uk/gov/hmcts/dts/mytime/repository/TeamUsersRepository.java
  src/main/java/uk/gov/hmcts/dts/mytime/services/TeamNamesService.java
  src/main/java/uk/gov/hmcts/dts/mytime/services/TeamUsersService.java
  src/main/resources/db/migration/V006__Init_team_names_table.sql
  src/test/java/uk/gov/hmcts/dts/mytime/controllers/TeamNamesControllerTest.java
  src/test/java/uk/gov/hmcts/dts/mytime/controllers/TeamUsersControllerTest.java
  src/test/java/uk/gov/hmcts/dts/mytime/entities/TeamNamesTest.java
  src/test/java/uk/gov/hmcts/dts/mytime/entities/TeamUsersTest.java
  src/test/java/uk/gov/hmcts/dts/mytime/models/TeamNamesTest.java
  src/test/java/uk/gov/hmcts/dts/mytime/models/TeamUsersTest.java
  src/test/java/uk/gov/hmcts/dts/mytime/services/TeamNamesServiceTest.java
  src/test/java/uk/gov/hmcts/dts/mytime/services/TeamUsersServiceTest.java
Labels: ns:my-time, prd:my-time, rel:my-time-api-pr-82

#89 Upgrade to Java 17
  .github/workflows/ci.yml
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: ns:my-time, prd:my-time, rel:my-time-api-pr-89
